WEB-INF/src/connectivity/ws/beans/ConsultasIvr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.colmena.arp.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.colmena.arp.com.co/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.colmena.arp.com.co/">
      <s:element name="ObtenerPrestadorIvr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPrestadorIvrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPrestadorIvrResult" type="tns:ArrayOfPrestadorIvr" />
            <s:element minOccurs="1" maxOccurs="1" name="respuesta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPrestadorIvr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PrestadorIvr" nillable="true" type="tns:PrestadorIvr" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrestadorIvr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idprestador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerAiuIvr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idprestador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerAiuIvrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerAiuIvrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerPrestadorIvrSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPrestadorIvr" />
  </wsdl:message>
  <wsdl:message name="ObtenerPrestadorIvrSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPrestadorIvrResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerAiuIvrSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerAiuIvr" />
  </wsdl:message>
  <wsdl:message name="ObtenerAiuIvrSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerAiuIvrResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerAiuIvrHttpGetIn">
    <wsdl:part name="documento" type="s:string" />
    <wsdl:part name="idprestador" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerAiuIvrHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerAiuIvrHttpPostIn">
    <wsdl:part name="documento" type="s:string" />
    <wsdl:part name="idprestador" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerAiuIvrHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ConsultasIvrSoap">
    <wsdl:operation name="ObtenerPrestadorIvr">
      <wsdl:input message="tns:ObtenerPrestadorIvrSoapIn" />
      <wsdl:output message="tns:ObtenerPrestadorIvrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAiuIvr">
      <wsdl:input message="tns:ObtenerAiuIvrSoapIn" />
      <wsdl:output message="tns:ObtenerAiuIvrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConsultasIvrHttpGet">
    <wsdl:operation name="ObtenerAiuIvr">
      <wsdl:input message="tns:ObtenerAiuIvrHttpGetIn" />
      <wsdl:output message="tns:ObtenerAiuIvrHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConsultasIvrHttpPost">
    <wsdl:operation name="ObtenerAiuIvr">
      <wsdl:input message="tns:ObtenerAiuIvrHttpPostIn" />
      <wsdl:output message="tns:ObtenerAiuIvrHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultasIvrSoap" type="tns:ConsultasIvrSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPrestadorIvr">
      <soap:operation soapAction="http://www.colmena.arp.com.co/ObtenerPrestadorIvr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAiuIvr">
      <soap:operation soapAction="http://www.colmena.arp.com.co/ObtenerAiuIvr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultasIvrSoap12" type="tns:ConsultasIvrSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPrestadorIvr">
      <soap12:operation soapAction="http://www.colmena.arp.com.co/ObtenerPrestadorIvr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAiuIvr">
      <soap12:operation soapAction="http://www.colmena.arp.com.co/ObtenerAiuIvr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultasIvrHttpGet" type="tns:ConsultasIvrHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerAiuIvr">
      <http:operation location="/ObtenerAiuIvr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultasIvrHttpPost" type="tns:ConsultasIvrHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerAiuIvr">
      <http:operation location="/ObtenerAiuIvr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultasIvr">
    <wsdl:port name="ConsultasIvrSoap" binding="tns:ConsultasIvrSoap">
      <soap:address location="http://172.28.66.231/SendaWeb/servicessenda/ConsultasIvr.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultasIvrSoap12" binding="tns:ConsultasIvrSoap12">
      <soap12:address location="http://172.28.66.231/SendaWeb/servicessenda/ConsultasIvr.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultasIvrHttpGet" binding="tns:ConsultasIvrHttpGet">
      <http:address location="http://172.28.66.231/SendaWeb/servicessenda/ConsultasIvr.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultasIvrHttpPost" binding="tns:ConsultasIvrHttpPost">
      <http:address location="http://172.28.66.231/SendaWeb/servicessenda/ConsultasIvr.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>